/*---------------------------------------------src/Cabecalho.css-----------------------------------------*/
.custom-navbar {
  font-weight: 800; /* Seminegrio */  /* Normal == 400 */
  background-color: #252525;  /* Alterando o fundo para preto */
  padding: 10px 0;
}

.custom-navbar .navbar-brand {
  color: rgb(17, 255, 0);  /* Alterando a cor da marca (logo) */
}

.custom-navbar .navbar-brand:hover {
  color: rgb(17, 255, 0);  /* Alterando a cor da marca (logo) */
}

.custom-navbar .nav-link {
  margin: 0 15px; /* Adiciona espaço entre os itens */
  color: rgb(17, 255, 0) !important;  /* Alterando a cor dos links de navegação */
  position: relative;
  padding-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.custom-navbar .nav-link::after {
  content: '';
  position: absolute;
  width: 0; /* Largura inicial da linha */
  height: 2px; /* Espessura da linha */
  background-color: rgb(255, 255, 255);  /* Cor linha */
  bottom: 0; /* Posiciona a linha na parte inferior do link */
  left: 0; /* Alinha a linha à esquerda */
  transition: width 0.3s ease; /* Animação da largura da linha */
}

.custom-navbar .nav-link:hover::after{
  width: 100%; /* Expande a linha ao passar o mouse */
}

/*----------------------------------------Globais-----------------------------------------*/
body,html {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600; /* Seminegrio */  /* Normal == 400 */
  margin: 0;
  padding: 0;
  background-color: #101010;;  /* Alterando o fundo para preto */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Remove barras de rolagem horizontais */
  overflow-y: hidden; /* Remove barras de rolagem verticais */
}

section {
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

footer {                                                                /*Rodape.jsx*/
  background-color: #252525;  /* Alterando o fundo para preto */
  font-weight: 800; /* Seminegrio */  /* Normal == 400 */
  color: rgb(17, 255, 0);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*---------------------------------------------src/Sobre.css-----------------------------------------*/
.sobre-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  color: white;
  min-height: 35rem;
  position: relative;
  overflow-x: hidden; 
  overflow-y: hidden; 
}

.texto-container {
  max-width: 50%;
}

.texto-container p:first-child {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.texto-container h1 {
  font-size: 3rem;
  color: rgb(17, 255, 0); /* cor verde para destaque */
  margin-bottom: 20px;
}

.texto-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.texto-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.botoes-container {
  display: flex;
  gap: 15px;
}

.botoes-container button {
  background-color: rgb(17, 255, 0); /* verde destaque */
  font-weight: 800; /* Negrito */
  border: none;
  padding: 10px 20px;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botoes-container button:hover {
  background-color: rgb(7, 100, 0); /* cor mais escura ao hover */
}

.imagem-container {
  max-width: 40%;
  position: relative;
  margin-top: 0rem;
  margin-right: 7rem;
  background: no-repeat;
  position: relative;
  background-size: contain;
}

.sobre-imagem {
  width: 17rem;
  height: 1rem;
  border-radius: 10px;
  height: auto;
}